* {
	padding:5px;
}

h1 {
	font-family: "Avenir Next";
	font-size: 20;
	color: #436AFF;
}

div {
	display: inline;
	border: solid black 2px;
	border-radius: 10px;
	margin: 5px;
	background-color:#E0CBE9;
	max-width: 20%;
}